
.vue-notification-group{
  top: 35vh !important;
  display: grid !important;
  place-content: center;
  left: calc(50% - 100px) !important;
}

.vue-notification-phase{
  background: transparent !important;
}